*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display:grid;
    text-align: center;
    row-gap: 2em;
    margin: auto;
    min-height: min(700px, 90%);
    width: min(450px, 90%);
    background-color: hsl(0, 0%, 12%);
    padding: 3em 2em;
    border-radius: 1em;
}

.profile-info {
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
    row-gap: 1em;
}

.profile-pic {
    border-radius: 50%;
}

#location {
    color: hsl(75, 94%, 57%);
}

#description {
    font-weight: 400;
}

.social-links {
    display: grid;
    row-gap: 1.5em;
    justify-self: center;
    grid-template-rows: 1fr;
    width: 100%;
    height: 50%;
}

button {
    width: 100%;
    height: 4em;
    background-color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-weight: 600;
    border-radius: 1em;
    border: none;
    color: hsl(0, 0%, 100%);
}

button:hover {
    background-color: hsl(0, 0%, 25%);
}

button:focus {
    border: 1.5px solid hsl(0, 0%, 100%);
    border-radius: 1em;
}
