*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.profile-card {
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 9vh 0;
    height: 80vh;
    width: 50vh;
    background-color: hsl(0, 0%, 12%);
    padding: 4em 3em;
    border-radius: 1em;
}

.profile-pic {
    border-radius: 50%;
}

.profile-info > div {
    padding: 2rem 0;
}

#location {
    padding-top: 0.5em;
    color: hsl(75, 94%, 57%);
}

#description {
    font-weight: 400;
    padding-bottom: 2rem;
}

.social-links {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.btn {
    max-width: 100%;
    background-color: hsl(0, 0%, 20%);
    font-size: 14px;
    font-weight: 600;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1em;
}

.btn:hover {
    background-color: hsl(0, 0%, 25%);
}

.btn:focus {
    border: 1.5px solid hsl(0, 0%, 100%);
    border-radius: 1em;
}

footer {
    text-align: center;
}